* {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header {
  background-color: #29292a;
}
.navbar-nav {
  gap: 20px;
}
.header .navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s;
}
.header .nav-link {
  transition: all 0.5s;
}
.header .navbar-dark .navbar-nav .nav-link:hover,
.header .navbar-dark .navbar-brand:hover {
  color: #ff6600;
}
.nav-link.active {
  font-weight: bold;
  color: #ff6600 !important;
}

.body h3 {
  color: #ff6600;
  font-style: italic;
  text-align: center;
  margin: 0;
}
.glass-info .card-title {
  margin: 0;
}
.body .container,
.item-list .btn {
  padding: 0;
}
.item-list .btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 102, 0, 0.25);
}
.body__content {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(46, 41, 51, 0.08),
    0px 5px 10px 0px rgba(71, 63, 79, 0.16);
}
.glass-info .card {
  height: 100%;
  background-color: transparent;
  border: none;
}
.glass-info .card-body span {
  font-weight: bold;
  color: #ff6600;
}
.demo-glasses {
  position: absolute;
  top: 25%;
  left: 37.5%;
}
.item-list {
  border-top: 1px solid #cdcdcd;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .demo-glasses {
    top: 18%;
  }
}
@media screen and (max-width: 768px) {
  .demo-glasses {
    top: 15%;
  }
  .glass-info .card-title {
    font-size: 1.5rem;
  }
  .glass-info .card-body h4 {
    font-size: 1rem;
  }
  .glass-info .card-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .demo-glasses {
    top: 17%;
  }
}
@media screen and (max-width: 552px) {
  .demo-glasses {
    top: 15%;
  }
}
@media screen and (max-width: 548px) {
  .demo-glasses {
    top: 17%;
  }
  .glass-info .card-title {
    font-size: 1.25rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.9rem;
  }
  .glass-info .card-text {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 512px) {
  .glass-info .card-text {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 482px) {
  .glass-info .card-title {
    font-size: 1rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.85rem;
  }
  .glass-info .card-text {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 461px) {
  .glass-info .card-text {
    font-size: 0.55rem;
  }
}
@media screen and (max-width: 435px) {
  .demo-glasses {
    top: 14%;
  }
}
@media screen and (max-width: 417px) {
  .demo-glasses {
    top: 16%;
  }
  .glass-info .card-title {
    font-size: 0.9rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.8rem;
  }
  .glass-info .card-text {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 383px) {
  .glass-info .card-title {
    font-size: 0.85rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.75rem;
    margin: 0;
  }
}
@media screen and (max-width: 370px) {
  .glass-info .card-title {
    font-size: 0.8rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 358px) {
  .glass-info .card-title {
    font-size: 0.75rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.65rem;
  }
  .glass-info .card-text {
    font-size: 0.45rem;
  }
}
@media screen and (max-width: 358px) {
  .glass-info .card-title {
    font-size: 0.7rem;
  }
  .glass-info .card-body h4 {
    font-size: 0.55rem;
  }
  .glass-info .card-text {
    font-size: 0.4rem;
  }
}
